__pycache__
/.idea
/.run
/ANCILLARY
/data
/data_landmask_gsw
/datalakes
/docker_dependencies
/environments/*
/parameters/*
!/parameters/datalakes_sui_S3.ini
!/parameters/datalakes_sui_S2.ini
!/parameters/alplakes_collection.ini
!/parameters/alplakes_s2.ini
!/parameters/alplakes_s3.ini
!/parameters/test_S3_processors.ini
!/parameters/test_S2_processors.ini
!/parameters/test_S2_tiles_processors.ini
!/parameters/test_L8_processors.ini
!/parameters/test_Collection_processors.ini
!/environments/example.ini
/processors/ocsmart/auxdata/*
!processors/ocsmart/auxdata/.gitkeep
/processors/ocsmart/anc
/processors/ocsmart/landmask_gsw
acolite_run_*_log_file.txt
*cache.sqlite
/examples
!/examples/example.py