__pycache__
/.idea
/ANCILLARY
/data_landmask_gsw
/datalakes
/environments/*
/parameters/*
!/parameters/parameters_template_S2.ini
!/parameters/parameters_template_S3.ini
!/parameters/datalakes_sui_S3.ini
!/environments/example.ini
