Cartopy==0.20.3
cdsapi==0.5.1
colour-science==0.4.1
cython==0.29.30
GDAL==3.2.1
Glymur==0.10.1
haversine==2.6.0
matplotlib==3.5.2
netCDF4==1.6.0
numpy==1.23.1
pip==22.1.2
pyhdf==0.10.5
rasterio==1.3.0
requests==2.28.1
scikit-learn==1.1.1
scipy==1.8.1
Shapely==1.8.2
tensorflow==1.15
urllib3==1.26.10
xarray==2022.3.0
xlrd==2.0.1
zipp==3.8.1
